{% extends "base.html" %}

{% block content %}
<section class="container grid grid-2">
    <div>
        <h1>Boeken</h1>
        <p>Kies je datums</p>

        <div class="card">
            <p>[ Kalender komt hier ]</p>
        </div>
    </div>

    <aside class="card">
        <h3>€150 per nacht</h3>
        <p>3 nachten: €450</p>
        <p>Schoonmaak: €50</p>
        <hr>
        <strong>Totaal: €500</strong>

        <a href="#" class="btn btn-secondary" style="margin-top:1rem;">Boeken</a>
    </aside>
</section>
{% endblock %}
